body {
  background-color: #0091A0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #ffffff;
  border-left: 2px solid #FF8500;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  border-radius: 0;
  border-bottom: 10px double #ffffff;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 90px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.hour {
  background-color: #002760;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  color: #FF8500;
  font-weight: bold;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 2px solid #FF8500;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #002760;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  color: #FF8500;
}


